# prefer installing versions which don't conflict between workspaces/modules
prefer-dedupe = true

# save specific versions of packages (generally preferable for apps, libraries
# will want to manage package ranges a bit more explicitly)
save-exact = true
save-prefix = ""

# disable extra output
audit = false
fund = false
update-notifier = false

# publish
//registry.npmjs.org/:_authToken = ${NPM_TOKEN}
; //npm.pkg.github.com/:_authToken = ${GITHUB_TOKEN}

# NOTE: you can configure npm scopes to use a specific registry
# - (ie. @acme/some-pkg would be set to use the github package registry)
# @acme:registry = https://npm.pkg.github.com
