/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/


headerbar {
  min-height: 24px;
  padding: 0;
  margin: 0;
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 10px;
  background-color: #282a36;
  font-family: monospace;
}

tabbar tabbox tabboxchild {
  border-radius: 0;
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: #f8f8f2;
  //border-right: 1px solid #374151;
  border-radius: 0;
}

tabbar tabbox tab:selected {
  background-color: #44475a;
  color: #ffffff;
}

tabbar tabbox tab label {
  font-size: 13px;
}
